# project specific python environment files
.venv/
venv/

# unnecessary python files
__pycache__/
*.pyc
*.pyo
*.pyd

# ISIC image files and meta data
data/


# internal documents and temp files
*.log
*.tmp
notes.md
logbook.md

# visual code settings
.vscode/

# unnecessary node files
node_modules/
dist/

# model too large to include in Github repo
model/hf/

# Apple specific files
.DS_Store